{ 
    "extends": "@paralenz/eslint-config-typescript-react",
    "rules": {
      "@typescript-eslint/naming-convention": [
        "error",
        {
          "selector": "property",
          "format": [
            "strictCamelCase"
          ],
          "filter": {
            // you can expand this regex to add more allowed names
            "regex": "^(structured_formatting|main_text|secondary_text|place_id|matched_substrings|main_text_matched_substrings|*_message)$",
            "match": false
          }
        }
      ]
    }
  }